@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
width: 12px; 
height: 12px; 
}


html::-webkit-scrollbar-thumb {
background-color: var(--primary-color-light-2); 
border-radius: 6px; 
}


html::-webkit-scrollbar-vertical{
width: 12px; 
height: 12px; 
}

html::-webkit-scrollbar-thumb:vertical  {
background-color: var(--primary-color-light-2);
}

html::-webkit-scrollbar-thumb:hover{
background-color: var(--primary-color-light-2); 
}
:root{
    --body-color: #fafdff;
    --text-light-color: #ffff;
    --primary-color: #4285F4;
    --th-color: #c5dafc;
    --hijau-color: #92fca4;
    --hijau-dark-color: #40d15b;
    --merah-color: #FCAEAE;
    --merah-dark-color: #f84747;
    --kuning-color: #ffdf81;
    --kuning-dark-color: #ffc002;
    --biru-color: #A6F6FF;
    --biru-dark-color: #1ed5e9;
    --primary-color-light: #FAFAFA;
    --primary-color-light-2: #E0E0E0;
    --color-shadow: rgba(0, 0, 0, 0.25);
    --text-color: #292A2A;
    --stroke-color: #ddd;
    --stroke-color-draken:#898989;
    --hover-table: #c5c5c5;

    --tran-01: all 0.1s ease;
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;



}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-04);
    scroll-behavior: smooth;
}
.container{
    width: 0%;
    height: 100%;
    position: fixed;
    background-color: var(--body-color); 
}
.container.active{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5); 
}

h1{
    color: var(--text-color);
}
.sidebar {
    width: 80px;
    background-color: var(--body-color);
    color: var(--text-light-color);
    padding: 15px;
    position: fixed;
    height: 100%;
    border-right: 1px solid var(--stroke-color);
    transition: var(--tran-05);
}
.sidebar.active {
    width: 250px;
}
nav{
    text-align: center;
    height: Calc(100% - 210px);
    display: flex;
    flex-direction: column;
}
.bottom-nav {
    display: flex;
    flex-direction: column;
    text-align: center; 
}
.bottom-nav a{
    display: flex;
    align-items: center;
}
.bottom-nav a i{
    margin-right: 2px;
    font-size: 20px;
}
.sidebar a i{
    font-size: 20px;
}
.sidebar a{
    color: var(--text-color);
    text-decoration: none;  
    padding: 10px 13px; 
    border-radius: 10px;
    margin-bottom: 10px;
    font-weight: 600;
    border: 2px solid var(--stroke-color);
    transition: var(--tran-02);
    white-space: nowrap;
    text-align: center;
    transition: var(--tran-02);
    display: flex;
    align-items: center;
    text-align: center;
    overflow: hidden;
}
.sidebar a:hover{
    color: var(--body-color);
    background-color: var(--primary-color);
}
.sidebar.active a{
    color: var(--text-color);
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-weight: 600;
    border: 2px solid var(--stroke-color);
    transition: var(--tran-02);
    white-space: nowrap;
    text-align: center;
}
.sidebar.active a:hover{
    color: var(--body-color);
}
.sidebar a span{
    opacity: 0;
}
.sidebar.active a span{
    opacity: 1;
    margin-left: 10px;
}
.sidebar .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    align-items: center;
    margin-top: 30px;
    flex-direction: column;
}
.sidebar .logo img{
    width: 30px;
    transition: var(--tran-05);
}
.sidebar.active .logo img{
    width: 40px;
}
.hamburger{
    color: var(--body-color);
    border-radius: 100px;
    border: none;
    position: relative;
    padding: 5px 11px;
    left: 5px;
    font-size: 20px;
    cursor: pointer;
    background-color: var(--primary-color);
    transition: var(--tran-05);
}
.hamburger.active{
    left: 180px;
}
.main-content{
    flex: 1;
    padding: 20px;
    margin-left: 70px;
}
@media (max-width:500px){
    .sidebar {
        width: 0px;
        background-color: var(--body-color);
        color: var(--text-light-color);
        padding: 20px;
        position: fixed;
        height: 100%;
        border-right: 1px solid var(--stroke-color);
        transition: var(--tran-05);
        position: relative;
        left: -70px;
    }
    .sidebar.active {
        width: 250px;
        background-color: var(--body-color);
        color: #fff;
        padding: 20px;
        position: fixed;
        height: 100%;
        position: relative;
        left: 0px;
        border-right: 1px solid var(--stroke-color);
    }
    .hamburger{
        color: var(--text-light-color);
        border-radius: 100px;
        border: none;
        position: relative;
        top: 0px;
        padding: 5px 11px;
        left: 65px;
        font-size: 20px;
        cursor: pointer;
        transition: var(--tran-05);
    }
    .hamburger.active{
        left: 180px;
    }
    h1{
        margin-top: 50px;
    }
    .main-content{
        margin-left: 0px;
        padding: 10px;
    }
}
.card-grid-top{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    width: 100%;
    grid-gap: 30px;
}
.card{
    background-color: var(--text-light-color);
    padding: 20px;
    height: 200px;
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: end;
}
.card h2{
    margin-top: 15px;
}
.card p{
    font-weight: 500;
}
.top1{
    box-shadow: 0 1px 3px var(--merah-color);
}
.top1 i{
    background-color: var(--merah-color);
    padding: 10px;
    border-radius: 100px;
    color: var(--merah-dark-color);
    box-shadow: 0 2px 4px var(--merah-color);
}
.top2{
    box-shadow: 0 1px 3px var(--hijau-color);
}
.top2 i{
    background-color: var(--hijau-color);
    padding: 10px;
    border-radius: 100px;
    color: var(--hijau-dark-color);
    box-shadow: 0 2px 4px var(--hijau-color);
}
.top3{
    box-shadow: 0 1px 3px var(--kuning-color);
}
.top3 i{
    background-color: var(--kuning-color);
    padding: 10px;
    border-radius: 100px;
    color: var(--kuning-dark-color);
    box-shadow: 0 2px 4px var(--kuning-color);
}
.top4{
    box-shadow: 0 1px 3px var(--biru-color);
}
.top4 i{
    background-color: var(--biru-color);
    padding: 10px;
    border-radius: 100px;
    color: var(--biru-dark-color);
    box-shadow: 0 2px 4px var(--biru-color);
}
.card .icons{
    background-color: var(--text-light-color);
    width: 40px;
    height: 40px;
    border-radius: 100px;
    font-size: 30px;
}

.notification-container{
    display: flex;
    margin-top: 40px;
    gap: 30px;
    background-color: var(--text-light-color);
    box-shadow: 0 2px 4px var(--color-shadow);
    border-radius: 10px;
    padding: 20px;
}
@media (max-width:800px){
    .notification-container{
        flex-direction: column;
    }
    
}
@media (max-width:500px){
    .notification-container{
        flex-direction: column;
        padding: 5px;
    }
    
}
.recived-container,
.complete-container{
    width: 100%;
}
.table-received,
.table-complete,
.ticket-progress {
    max-height: 400px; 
    overflow-y: auto; 
    overflow-x: auto;
    background-color: var(--body-color);
    padding: 20px;
    width: 100%;
    border-radius: 5px 5px 0px 0px;
    border: 1px solid var(--stroke-color);
}

.table-received table,
.table-complete table {
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
}
.table-received tbody tr:nth-child(odd),
.table-complete tbody tr:nth-child(odd),
.ticket-progress tbody tr:nth-child(odd),
.table-self tbody tr:nth-child(odd){
    background-color: var(--body-color); 
}

.table-received tbody tr:nth-child(even),
.table-complete tbody tr:nth-child(even),
.ticket-progress tbody tr:nth-child(even),
.table-self tbody tr:nth-child(even) {
    background-color: var(--primary-color-light-2); 
}

.table-received tbody tr:hover {
    background-color: var(--hover-table); 
}

.table-received td,
.table-complete td {
    padding: 8px; 
    text-align: center; 
    font-weight: 500;
}
.table-received button{
    background-color: var(--primary-color);
    padding: 5px 10px;
    font-size: 10px;
    font-weight: 500;
    color: var(--text-light-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.table-received::-webkit-scrollbar,
.table-complete::-webkit-scrollbar,
.ticket-progress::-webkit-scrollbar,
.table-self::-webkit-scrollbar {
width: 12px;
height: 12px; 
}


.table-received::-webkit-scrollbar-thumb,
.table-complete::-webkit-scrollbar-thumb,
.ticket-progress::-webkit-scrollbar-thumb,
.table-self::-webkit-scrollbar-thumb {
background-color: var(--primary-color-light-2); 
border-radius: 6px; 
}


.table-received::-webkit-scrollbar-vertical,
.table-complete::-webkit-scrollbar-vertical,
.ticket-progress::-webkit-scrollbar-vertical,
.table-self::-webkit-scrollbar-vertical {
width: 12px; 
height: 12px; 
}

.table-received::-webkit-scrollbar-thumb:vertical ,
.table-complete::-webkit-scrollbar-thumb:vertical,
.ticket-progress::-webkit-scrollbar-thumb:vertical,
.table-self::-webkit-scrollbar-thumb:vertical{
background-color: var(--primary-color-light-2);
border-radius: 6px; 
}

.table-received::-webkit-scrollbar-thumb:hover, 
.table-complete::-webkit-scrollbar-thumb:hover,
.ticket-progress::-webkit-scrollbar-thumb:hover,
.table-self::-webkit-scrollbar-thumb:hover {
background-color: var(--primary-color-light-2); 
}

.more{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: var(--text-light-color);
    border: 1px solid var(--stroke-color);
    border-top: none;
    border-radius: 0px 0px 5px 5px;
}
.more a{
    font-size: 12px;
}
td.done-panding{
    text-align: start;
    font-weight: 600;
    font-size: 15px;
    display: flex;
    align-items: center;
}
td.done-panding i{
    margin-right: 5px;
}
#done{
    background-color: var(--hijau-color);
}
#done .done-panding{
    color: var(--hijau-dark-color);
}
#panding{
    background-color: var(--merah-color);
}
#panding .done-panding{
    color: var(--merah-dark-color);
}
#waiting-progress{
    background-color: var(--kuning-color);
}
#waiting-progress .done-panding{
    color: var(--kuning-dark-color);
}
.btn-acc-ticket{
    display: flex;
    gap: 10px;
    justify-content: center;
    border-bottom: none;
}
button{
    cursor: pointer;
}
a{
    text-decoration: none;
}
.ticket-progress{
    background-color: var(--text-light-color);
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 2px 4px var(--color-shadow);
    border-radius: 10px;
    text-align: center;
}
.ticket-progress h2{
    text-align: start;
    margin-bottom: 10px;
}
.ticket-progress table{
    width: 100%;
    border: 1px solid var(--stroke-color);
    padding: 10px;
    border-collapse: collapse;
    font-weight: 600;
}
.ticket-progress td{
    padding: 10px;
    white-space: nowrap;
}
.ticket-progress button{
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-weight: 400;
    color: var(--text-light-color);
    font-size: 13px;
}
#finish{
    background-color: var(--hijau-dark-color);
}
#view-ticket{
    background-color: var(--primary-color);
}
#panding-btn{
    background-color: var(--merah-dark-color);
}
.view-popup.active{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}
.view-popup .view-popup-content{
    position: absolute;
    top: -500px;
    background-color: var(--text-light-color);
}

.view-popup.active .view-popup-content{
    width: 100%;
    position: absolute;
    top: 0px;
    background-color: var(--text-light-color);
    padding: 20px;
    transition: var(--tran-05);
}
.view-popup-content .info-container{
    display: flex;
    justify-content: center;
}
.view-popup-content .info{
    display: flex;
    flex-direction: column;
    white-space: wrap;
    gap: 5px;
}
.view-popup-content .value span{
    text-align: end;
    background-color: var(--primary-color-light);
    margin-left: 5px;
    border-radius: 5px;
    padding-right: 20px;
}
.view-popup-content .desc{
    margin-top: 10px;
}
.view-popup-content .value .desc{
    text-align: start;
    background-color: var(--primary-color-light);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--stroke-color);
}
.view-popup.active #close-view-popup{
    position: relative;
    top: 100px;
    left: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--text-light-color);
    border-radius: 100px;
    cursor: pointer;
    transition: var(--tran-05);
}
.table-ticketing .ticket-progress{
    padding: 10px;
    border-radius: 5px;
    max-height: 200px;
    font-size: 13px;
}
.ticket-panding td{
    background-color: var(--merah-color);
}
.ticket-panding .btn-acc-ticket,
.ticket-panding .btn-acc-ticket span{
    display: flex;
    align-items: center;
}
.ticket-panding .btn-acc-ticket span{
    color: var(--merah-dark-color);
}
.table-ticketing{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.recived-container .table-top{
    justify-content: start;
}
.table-ticketing .recived-container .table-top .top-title{
    text-align: start;
    width: 100%;
}
.table-ticketing .table-received {
    border-radius: 0px 0px 5px 5px;
}
.table-ticketing .recived-container,
.table-ticketing .complete-container{
    background-color: var(--text-light-color);
    border-radius: 5px;
    box-shadow: 0 2px 4px var(--color-shadow);
    padding: 10px;
}
.table-ticketing .complete-container{
    display: flex;
    gap: 20px;
}
@media (max-width: 965px){
    .table-ticketing .complete-container{
        flex-direction: column;
    }
}
.table-ticketing .complete-container .table-complete{
    max-height: 300px;
}
.table-ticketing .wrapper{
    width: 100%;
}
.table-ticketing .table-top{
    background-color: var(--text-light-color);
    border: 1px solid var(--stroke-color);
    border-bottom: none;
    border-radius: 5px 5px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.table-ticketing .table-complete{
    border-radius: 0px 0px 5px 5px;
}
div.top-title{
    padding: 15px;
}
.table-ticketing .table-top .top-title{
    font-weight: 700;
    text-align: center;
    width: 30%;
}
.bxs-star{
    color: #E7B10A;
}
.feedback-btn button{
    background: none;
    border: none;
    color: var(--primary-color);
    text-decoration: underline;

}
/* ========== inventory CSS =========== */

.add-data{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
}
@media (max-width: 1115px){
    .add-data{
        display: grid;
        grid-template-columns: auto auto;
        gap: 20px;
    }
}
@media (max-width: 600px){
    .add-data{
        display: grid;
        grid-template-columns: auto;
        gap: 20px;
    }
}
.card-data{
    background-color: var(--text-light-color);
    box-shadow: 0 2px 4px var(--color-shadow);
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
}
.data-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.data-text p{
    font-weight: 600;
    font-size: 20px;
}
.showing-page{
    display: flex;
    align-items: center;
}
.data-text #add-data{
    background-color: var(--primary-color);
    color: var(--text-light-color);
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 13px;
    display: flex;
    align-items: center;
    border: none;
}
.row-data{
    font-size: 30px;
    font-weight: 700;
    margin-top: 10px;
}
.data-text #view-data-invent{
    background: none;
    font-size: 25px;
    border: none;
    display: flex;
    text-decoration: none;
    align-items: center;
    color: var(--primary-color);
    margin-right: 10px;
}
.table-inventory {
    background-color: var(--text-light-color);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    box-shadow: 0 2px 4px var(--color-shadow);
    margin-top: 30px;
}
@media (max-width: 1115px){
    .table-inventory {
        flex-direction: column;
    }
}
@media (max-width: 500px){
    .table-inventory {
        padding: 5px;
    }
}
.table-inventory table{
    background-color: var(--body-color);
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
.table-self-category{
    width: 100%;
}
.cateogry{
    background-color: var(--text-light-color);
    padding: 5px;
    border: 1px  solid var(--stroke-color);
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0px 2px 5px var(--th-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text-category{
    background-color: var(--body-color);
    margin-left: 10px;
    padding: 5px 20px;
    border-radius: 10px 10px 0px 0px;
    border-bottom: 1px solid var(--stroke-color);
    font-weight: 600;
}

.search{
    padding: 10px ;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.search .icon-src {
    font-size: 15px;
    position: relative;
    left: 30px;
    top: 1px;
}
.search input[type=text] {
    width: 30%;
    padding: 5px 10px ;
    border-radius: 10px;
    border: 2px solid var(--stroke-color-draken);
    transition: var(--tran-03);
    padding-left: 35px;
  }
.search input[type=text]:focus {
    border: 2px solid var(--primary-color);
    outline: none;
    border-radius: 10px;
    width: 40%;
  }
@media (max-width: 500px){
    .search input[type=text] {
        width: 70%;
        padding: 5px 10px ;
        border-radius: 10px;
        border: 2px solid var(--stroke-color-draken);
        transition: var(--tran-03);
        padding-left: 35px;
      }
    .search input[type=text]:focus {
        border: 2px solid var(--primary-color);
        outline: none;
        border-radius: 10px;
        width: 100%;
      }
}
.cateogry .print button{
    border-bottom: 1px solid var(--stroke-color);
    font-size: 17px;
    font-weight: 600;
    color: var(--text-light-color);
    background-color: var(--primary-color);
    padding: 5px 15px;
    border-radius: 10px;
    margin-right: 10px;
}
.table-self{
    width: 100%;
    padding: 10px;
    border-top: none;
    border: 1px solid var(--stroke-color);
    max-height: 400px;
    overflow-y: auto;
    overflow-x: auto;
    border-radius: 0px 0px 10px 10px;
}
.table-inventory .second{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
}
@media (max-width: 1115px){
    .table-inventory .second{
        width: 100%;
    }
}
.table-inventory th,
.table-inventory td{
    padding: 10px;
}
.table-inventory th{
    border: 1px solid var(--stroke-color);
    background-color: var(--th-color);
}
.table-inventory td{
    font-size: 14px;
    font-weight: 500;
}
.btn-acc-tbl{
    display: flex;
    align-items: end;
    justify-content: space-evenly;
}
.table-inventory button{
    background: none;
    border: none;
    font-size: 20px;
}
.table-inventory #view-data-invent{
    color: var(--primary-color);
}
.table-inventory #delete{
    color: var(--merah-dark-color);
}
.table-inventory #edit{
    color: var(--kuning-dark-color);
}
.add-data-self{
    background-color: var(--text-light-color);
    box-shadow: 0 2px 3px var(--color-shadow);
    padding: 10px;
    border: 1px solid var(--stroke-color);
    border-radius: 10px;
}
.add-data-self .title-card{
    font-size: 30px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.add-data-self .showing-page{
    display: flex;
    justify-content: space-between;
    margin-top: 7px;
    font-size: 20px;
}
.add-data-self .showing-page button{
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 600;
}

/* ========= Add Data CSS ============= */
.file-input {
    position: relative;
    width: 90%;
    height: 300px; /* Tinggi maksimum yang diinginkan */
    overflow: hidden;
    border: 2px dashed var(--stroke-color); /* Garis putus-putus */
    border-radius: 10px;
    cursor: pointer;
    margin: 0 auto; /* Tengahkan elemen */
  }

  .file-input input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }

  /* Gaya label untuk ikon tambah atau gambar */
  .file-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 36px;
    font-weight: bold;
    color: var(--stroke-color);
    cursor: pointer;
  }

  /* Gaya untuk menampilkan gambar di dalam kotak */
  .file-preview {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .file-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Gambar tetap ada dalam kotak dengan aspek ratio yang sesuai */
  }

.form-grid{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.card-form{
    background-color: var(--text-light-color);
    border: 1px solid var(--stroke-color);
    width: 100%;
    border-radius: 20px;
    padding-bottom: 20px;
}
.card-form-header{
    background-color: var(--primary-color);
    width: 100%;
    padding: 20px;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    color: var(--text-light-color);
    border-radius: 20px 20px 0px 0px;
    margin-bottom: 20px;
}
.form-group{
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
}
.card-form label{
    color: var(--text-color);
    font-weight: 600;
}
.card-form input{
    border: none;
    border-bottom: 2px solid var(--primary-color);
    height: 30px;
    padding: 10px;
    transition: var(--tran-03);
}
.card-form input:focus{
    outline: none;
    height: 40px;
}
.card-form select{
    border: none;
    border-bottom: 2px solid var(--primary-color);
    padding: 8px;
}
.card-form  select::-ms-expand {
    display: none;
}
.card-form textarea {
    resize: vertical;
    border: none;
    border-bottom: 2px solid var(--primary-color);
    padding: 10px;
    height: 50px;
    margin-bottom: 20px;
    transition: var(--tran-03);
}
.card-form textarea:focus {
    outline: none;
    height: 90px;
}
.btn-change{
    margin-bottom: 20px;
    display: flex;
    justify-content: end;
    gap: 10px;
}
.btn-change button{
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
    font-size: 15px;
    font-weight: 600;
    color: var(--text-light-color);
}