*{
    font-family:  Helvetica, sans-serif;

}
.container{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}
img{
    width: 10%;
}

a{
    background-color: #3085C3;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: 700;
    color: white;
    border-radius: 20px;
}
@media screen and (max-width: 500px){
    img{
        width: 50%;
    }
}