@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
    --body-color: #fafdff;
    --text-light-color: #ffff;
    --primary-color: #4285F4;
    --th-color: #c5dafc;
    --hijau-color: #92fca4;
    --hijau-dark-color: #40d15b;
    --merah-color: #FCAEAE;
    --merah-dark-color: #f84747;
    --kuning-color: #ffdf81;
    --kuning-dark-color: #ffc002;
    --biru-color: #A6F6FF;
    --biru-dark-color: #1ed5e9;
    --primary-color-light: #FAFAFA;
    --primary-color-light-2: #E0E0E0;
    --color-shadow: rgba(0, 0, 0, 0.25);
    --text-color: #292A2A;
    --stroke-color: #ddd;
    --stroke-color-draken:#898989;

    --tran-01: all 0.1s ease;
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;



}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-04);
    scroll-behavior: smooth;
}
.card{
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    padding: 20px;
}
form{
    width: 390px;
    background-color: var(--text-light-color);
    box-shadow: 0 2px 4px var(--color-shadow);
    border-radius: 10px;
    padding: 20px;
}
.form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    gap: 5px;
}   
.form-group span{
    font-size: 14px;
    text-align: center;
}
.form-group a{
    font-size: 14px;
    text-decoration: none;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
}
.logo span{
    font-weight: 700;
}
.logo .psiko{
    font-weight: 600;
}
input {
    border: 1px solid var(--stroke-color);
    padding: 10px;
    border-radius: 5px;
}
input[type=text]:focus {
    border: 1px solid var(--primary-color);
    outline: none;
}
input[type=email]:focus {
    border: 1px solid var(--primary-color);
    outline: none;
}
input[type=password]:focus {
    border: 1px solid var(--primary-color);
    outline: none;
}
label{
    font-weight: 500;  
}
button{
    background-color: var(--primary-color);
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
    color: var(--text-light-color);
}
.describe-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.describe-container .form-group{
    margin-top: 20px;
}
.describe-container form{
    width: 35%;
}
.describe{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin-bottom: 10px;
    font-weight: 700;
    border-radius: 7px;
    border: 1px solid var(--stroke-color);
}
.btn-finish{
    border: none;
    padding: 0px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.btn-finish button{
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 500;
}
.btn-finish #later{
    background: none;
    color: var(--btn-color);
}
.checked{
    background-color: var(--body-color);
    border: 1px solid var(--primary-color);
}


@media  (max-width : 1150px){
    form{
        width: 40%;
    }
    .describe-container form{
        width: 55%;
    }
}
@media  (max-width : 900px){
    .describe-container form{
        width: 55%;
    }
}
@media  (max-width : 800px){
    form{
        width: 45%;
    }
    .describe-container form{
        width: 55%;
    }
}
@media  (max-width : 700px){
    .describe-container form{
        width: 75%;
    }
}
@media  (max-width : 600px){
    form{
        width: 55%;
    }
    .describe-container form{
        width: 90%;
    }
}
@media  (max-width : 500px){
    form{
        width: 75%;
    }
    .describe-container form{
        width: 95%;
        margin-top: 50px;
    }
}