@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');


:root{
    /* Color */
    --body-color: #fafdff;
    --text-light-color: #ffff;
    --primary-color: #4285F4;
    --th-color: #c5dafc;
    --hijau-color: #92fca4;
    --hijau-dark-color: #40d15b;
    --merah-color: #FCAEAE;
    --merah-dark-color: #f84747;
    --kuning-color: #ffdf81;
    --kuning-dark-color: #ffc002;
    --biru-color: #A6F6FF;
    --biru-dark-color: #1ed5e9;
    --primary-color-light: #FAFAFA;
    --primary-color-light-2: #E0E0E0;
    --color-shadow: rgba(0, 0, 0, 0.25);
    --text-color: #292A2A;
    --stroke-color: #ddd;
    --stroke-color-draken:#898989;

    /* transition */
    --tran-01: all 0.1s ease;
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;



}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: var(--body-color);
}
.container-header {
    width: 100%;
    height: 360px; /* Atur tinggi kontainer sesuai kebutuhan Anda */
    background-image: url('../asset/background-fakultas.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navlink{
    padding: 20px;
}
.navlink a{
    background-color: var(--primary-color);
    color: var(--body-color);
    font-weight: 700;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
}
.logo{
    display: flex;
    align-items: center;
    padding: 20px;
}
.logo .logo-image{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo p{
    background-color: var(--primary-color);
    color: var(--primary-color);
    margin-left: 10px;
    margin-right: 10px;
}
.logo .logo-text{
    color: var(--body-color);
    font-weight: 700;
    font-size: 12px;
}
.text-header {
    position: absolute;
    top: 150px; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    text-align: center;
    font-weight: 700; 
    color: var(--body-color); 
    font-size: 20px;
    width: 50%;
    font-weight: 700;
}
.text-header h1{
    font-size: 3vw; 
}
.garis{
    display: flex;
    justify-content: center;
    margin-top: -50px;
    background-color: var(--primary-color);
    height: 100px;
    border-radius: 50px 50px 0px 0px;
}
.garis .opacity{
    opacity: 0;
}
.garis .card{
    margin-top: -50px;
    display: flex;
    gap: 71px;
}
.garis button{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--text-color);
    background-color: var(--body-color);
    width: 172px;
    height: 172px;
    border-radius: 30px;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
    border: none;
    box-shadow: 0px 4px 4px 0px var(--color-shadow);
}
.garis button i{
    font-size: 50px;
}
@media screen and (max-width: 760px){
    .text-header{
        width: 60%;
        top: 150px;
    }
    .text-header h1{
        font-size: 5vw; 
    }
    .garis .card{
        top: 30%;
        gap: 40px;
    }
    .garis button{
        width: 142px;
        height: 142px;
    }
    .garis{
        height: 100px;
    }
}
@media screen and (max-width: 515px){
    .garis .card{
        gap: 20px;
    }
    .garis button{
        border-radius: 15px;
        width: 90px;
        height: 90px;
        font-size: 2vw;
    }
    .garis{
        height: 50px;
        border-radius: 30px 30px 0px 0px;
    }
}
.thumbnail{
    display: flex;
    justify-content: center;
    margin-top: 84px;
    gap: 50px;
}
.thumbnail-img img{
    width: 50%;
}
.thumbnail-img img{
    width: 100%;
}
.thumbnail-text{
    width: 40%;
    color: var(--text-color);
}
.thumbnail-text h2{
    font-size: 32px;
}
.thumbnail-text p{
    margin-bottom: 20px;
}
.thumbnail-text a{
    background-color: var(--primary-color);
    color: var(--body-color);
    font-weight: 700;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 20px;
}
@media screen and (max-width: 760px){
    .thumbnail{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .thumbnail-img img{
        width: 70%;
    }
    .thumbnail-text{
        width: 100%;
    }
}
.antrian{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.table-container {
    max-height: 400px; 
    overflow-y: auto; 
    overflow-x: auto;
    background-color: var(--body-color);
    box-shadow: 0px 4px 4px 0px var(--color-shadow);
    padding: 20px;
    width: 100%;
    border-radius: 15px;
}
.table-container h1{
    text-align: center;
    margin-bottom: 20px;
}
.table-container table {
    width: 100%;
    border-collapse: collapse;
}
.table-container tbody tr:nth-child(odd) {
    background-color: var(--body-color); 
}

.table-container tbody tr:nth-child(even) {
    background-color: var(--primary-color-light-2); 
}

.table-container tbody tr:hover {
    cursor: pointer;
    background-color: #a0a0a0; /* Warna latar belakang saat baris dihover */
}

.table-container td {
    padding: 8px; /* Ruang dalam sel */
    text-align: center; /* Pusatkan teks dalam sel */
}


/* Style untuk scroller horizontal */
.table-container::-webkit-scrollbar {
width: 12px; /* Lebar scroller */
height: 12px; /* Tinggi scroller */
}

/* Style untuk badan scroller horizontal */
.table-container::-webkit-scrollbar-thumb {
background-color: var(--primary-color-light-2); /* Warna badan scroller */
border-radius: 6px; /* Bentuk badan scroller */
}

/* Style untuk scroller vertikal */
.table-container::-webkit-scrollbar-vertical {
width: 12px; /* Lebar scroller */
height: 12px; /* Tinggi scroller */
}

/* Style untuk badan scroller vertikal */
.table-container::-webkit-scrollbar-thumb:vertical {
background-color: var(--primary-color-light-2); /* Warna badan scroller */
border-radius: 6px; /* Bentuk badan scroller */
}

/* Style untuk scroller saat dihover */
.table-container::-webkit-scrollbar-thumb:hover {
background-color: var(--primary-color-light-2); /* Warna badan scroller saat dihover */
}
@media screen and (max-width: 760px){
    .antrian{
        flex-direction: column;
    }
    .antrian-image{
        display: none;
    }
}
.top-popup{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-card-popup{
    display: flex;
    justify-content: end;
}
.btn-card-popup button{
    padding: 5px 20px;
    font-size: 13px;
    background-color: var(--body-color);
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px var(--color-shadow);
    font-weight: 600;
}
.btn-close{
    background-color: var(--stroke-color);
    cursor: pointer;
    padding: 3px 8px;
    border-radius: 100px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.report-card-popup{
    display: none;
}
.report-card-popup.active{
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}
.report-card{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%; /* Lebar maksimum popup */
    max-height: 80%; /* Tinggi maksimum popup */
    overflow: auto; /* Tampilkan scrollbar jika kontennya terlalu besar */
    width: 50%;
    background-color: var(--text-light-color);
    border-radius: 10px;
    box-shadow: 0 2px 4px var(--color-shadow);
    padding: 20px;
}
@media (max-width:600px){
    .report-card{
        width: 100%;
    }
}
.report-card form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.report-card select{
    border: 2px solid var(--primary-color);
    padding: 8px 20px;
    border-radius: 10px;
}
.report-card textarea {
    resize: vertical;
    border: 2px solid var(--primary-color);
    padding: 10px;
    height: 50px;
    border-radius: 10px;
    transition: var(--tran-03);
}
.report-card textarea:focus {
    outline: none;
    height: 90px;
}

.ticket-card-popup{
    display: none;
}
.ticket-card-popup.active{
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}
.ticket-card .top-popup{
    display: flex;
    justify-content: end;
}
.ticket-card{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%; /* Lebar maksimum popup */
    max-height: 80%; /* Tinggi maksimum popup */
    overflow: auto; /* Tampilkan scrollbar jika kontennya terlalu besar */
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: var(--text-light-color);
    box-shadow: 0 2px 4px var(--color-shadow);
    padding: 10px;
    border-radius: 10px;
    width: 60%;
}
.top-ticket{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-ticket .id-ticket{
    background-color: var(--primary-color);
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 600;
    color: var(--text-light-color);
}
.mid-ticket{
    display: flex;
    justify-content: space-between;
}
.left-ticket{
    padding: 10px;
    width: 100%;
}
.right-ticket{
    display: flex;
    padding: 10px;
}
.left-ticket span{
    font-size: 13px;
}
.left-ticket p{
    font-size: 15px;
    font-weight: 600;
}

.line-cut{
    position: relative;
    width: 1%;
    right: 17px;
    height: 210px;
    border-left: 2px dashed var(--stroke-color);
}
.problem-ticket{
    font-size: 30px;
    font-weight: 700;
}
.desc-problem{
    font-size: 14px;
    background-color: var(--stroke-color);
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--text-color);
}
@media (max-width:950px){
    .ticket-card{
        width: 90%;
    }
}
@media (max-width:550px){
    .ticket-card{
        width: 100%;
    }
    .left-ticket{
        display: flex;
        justify-content: space-around;
    }
    .left-ticket span{
        font-size: 13px;
    }
    .left-ticket p{
        font-size: 14px;
        font-weight: 600;
    }
    .desc-problem{
        font-size: 12px;
    }
    .problem-ticket{
        font-size: 23px;
    }
    .mid-ticket{
        flex-direction: column;
        align-items: center;
    }
    .right-ticket{
        flex-direction: column;
        align-items: center;
    }
    .line-cut{
        position: static;
        width: 100%;
        right: 0px;
        height: 1px;
        margin-bottom: 20px;
        border: 1px dashed var(--stroke-color);
    }
}